<!DOCTYPE html>
<html lang="en">

<head>
    {{> common/htmlhead}}
</head>

<body>
<div class="darkbg hidden"></div>
{{> common/header}}
<div class="my-account">
    <div class="container">
        <div class="my-account-title">
            <span class="my-account-title-text icon-user">{{i18n "my-account:myAccount.title"}}</span>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="my-account-content">
                    <div class="row">
                        <div id="my-account-desktop-content" class="col-sm-12">
                            <div class="change-password">
                                <div class="change-password-wrapper">
                                    <div class="personal-details-title">
                                        <span>{{i18n "my-account:recoverPassword.title"}}</span>
                                    </div>
                                    <div>
                                        <span>{{i18n "my-account:recoverPassword.recoverDescription"}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> common/footer}}
{{> common/htmlscripts}}
</body>

</html>
